

body,html{
    line-height: 1.8;
    font-family:'Roboto', sans-serif;
    color: #555e58;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-weight: 400;
    line-height: 1.5em;
}
p{
    font-size: 15px;
    margin: 12px 0 0 ;
    line-height: 24px;
}
a{
    color: #333;
    font-weight: 400;
}
button:focus{
    box-shadow: none;
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a,a:hover, a:focus{
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

/* material icos style */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  /* sidebar style */
  .wrapper{
      position: relative;
      width: 100%;
      overflow: auto;

  }

  #sidebar{
      position: fixed;
      height: 100vh !important;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 11;
      width: 260px;
      overflow: auto;
      transition: all 0.3s;
      background: #ffffff;
      box-shadow: 0px 10px 30px 4px rgba(0, 0, 0,0.5);
                                  
  }
  #sidebar::-webkit-scrollbar{
      width: 5px;
      border-radius: 10px;
      background-color: #eee;
      display: none;
  }
  #sidebar::-webkit-scrollbar-thumb{
      width: 5px;
      border-radius:  10px;
    background-color: #333;
    display: none;
  }
  #sidebar:hover::-webkit-scrollbar{

    display: block;
  }
  #sidebar:hover::-webkit-scrollbar-thumb{

    display: block;
  }

  #sidebar .sidebar-header{
      padding: 20px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
  }
  .sidebar-header h3{
      color: #333;
      font-size: 25px;
      margin: 0;
      text-transform: uppercase;
      transition: all 0.5s ease;
      font-weight: 600;
  }
  #sidebar ul li{
      padding: 2px 7px;
  }
  #sidebar ul li.active>a{
    color: #333;
    background-color: rgba(200, 200, 200,0.2);
  }
  #sidebar ul li a:hover{
    color: #333;
    background-color: rgba(200, 200, 200,0.2);
  }
  .dropdown-toggle::after{
      position: absolute;
      right: 10px;
      top: 23px;
  }
  #sidebar ul li.dropdown-main{
      margin-left: 20px;
  }
  #sidebar ul li.dropdown{
      position: sticky;
      margin-left: 40px;

  }
  #sidebar ul.component{
      padding: 20px 0 ;
  }

  #sidebar ul li a{
      padding: 10px;
      line-height: 30px;
      border-radius: 5px;
      font-size: 15px;
      position: relative;
      font-weight: 400;
      display: block;

  }
  #sidebar ul li a span{
    display: inline-block;
  }
  #sidebar ul li a i{
      position: relative;
      margin-right: 10px;
      top: 5px;
      color: #555555;
      margin-left: 10px;
  }

  /* main content */
  #content{
      position: relative;
      transition: all 0.3s;
      background-color: #eee;
  }
  .top-navbar{
      width: 100%;
      z-index: 9;
      position: relative;
  }
  .main-content{
      pointer-events: all;
      padding: 10px 20px 0px 20px;
      position: relative;
      width: 100%;

  }
  .navbar{
      background-color: #2196f3;
      color: #fff;

  }
  .navbar-brand{
      color: #fff;

  }
  .navbar button{
      background-color: transparent;
      border: none;

  }
  .navbar button span{
      color: #fff;

  }
  #sidebarcollapse{
      border-radius: 50%;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin-right: 20px;
      border: none;
      color: #fff;
      background-color: rgba(0, 0, 0,0.09);
  }
  #sidebarcollapse span{
      margin: 9px;
      padding: 0px;

  }
  .navbar-nav>li.active{
      color: #fff;
      border-radius: 4px;
      background-color: rgba(0, 0, 0,0.08);
  }

  /* card design */
  .card {
      margin: 10px 0px;
      /* border-radius: 0px!important; */
      display: inline-block;
      position: relative;
      border: none;
      width: 100%;
      margin: 15px 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0,0.08);
      border-radius: 6px;
      color: rgba(0, 0, 0,0.87);
  }

  .card-stats .card-header{
      float: left;
      text-align: center;

  }
  .card .card-header{
      padding: 15px 20px 0px;
      z-index: 3;
      background-color: #fff;
      border-radius: none;
  }

  .card .card-footer .stats .material-icons{
    position: relative;
    top: 4px;
    font-size: 16px;
  }
  .card-stats .card-header span{
      font-size: 36px;
      line-height: 56px;
      width: 56px;
      height: 56px;
      color: #2196f3;
  }
  .card .card-footer{
      margin: 0 7px 0px;
      padding-top: 10px;
      background-color: #fff;
      border-top: 1px solid #eee;
  }
  .card-stats .card-content{
      text-align: right;
      padding-top: 10px;
  }
  .card .card-content{
      padding: 15px 20px;
      position: relative;

  }
  /* footer */
  .footer{
      border-top: 1px solid #e7e7e7;
  }
  footer{
      padding: 10px 0;
      position: relative;
      width: 100%;

  }
  footer ul li{
      display: inline-block;
  }
  footer ul li a{
      color: inherit;
      padding: 15px;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      position: relative;

  }
  footer .copyright{
      padding: 15px;
      font-size: 14px;
      margin: 0%;

  }

  /* other */
  #sidebar.show-nav, .body-overlay.show-nav{
      transform: translateX(0%);
      opacity: 1;
      display: block;
      visibility: visible;
      z-index: 15;
  }
  .dropdown-menu{
      border: 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.08);
      transform: translate3d(0, -20px, 0);
      visibility: hidden;
      transition: all 150ms linear;
      display: block;
      min-width: 15rm;

  }
  #content{
      width: calc(100% - 261px);
      position: relative;
      background-color: #eeeeee;
      float: right ;
      transition: all 0.3s;
  }


  /* add student */
  .form{
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .form .form-head{
      margin-bottom: 10px;
  }

  .form .form-main{
      background: #fff;
      border-radius: 20px;
      box-shadow: 10px 10px 10px 2px #d6ecff;
      padding: 20px;
      margin-bottom: 40px;
      
  }
  .form .form-main form .input{
    padding: 10px;

  }
  .form .form-main form .input input{
      width: 20rem;
      border: none;
      outline: none;
      border-bottom: 2px solid #2196f3;
  }
  .form .form-main .select{
    padding: 10px;

  }
  .form .form-main .select select{
      width: 20rem;
      margin-left: 1px;
      height: 30px;
      background: #2196f3;
      border: none;
      outline: none;
      color: #fff;

  }

.form .form-main .submit-btn input{
    color: #fff;
    background: #2196f3;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
   width: 100%;
   height: 40px;
   transition: all 0.2s ease;

}
.form .form-main .submit-btn input:hover{
    background: transparent;
    border: 2px solid #2196f3;
    color: #2196f3;
}